<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chess_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,65},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>chess_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>chess_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,189},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>chess_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,127},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>chess_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,3},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>chess_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,65},{52,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{52,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>chess_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,105},{38,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{38,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>chess_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,119},{24,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{24,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>chess_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,65},{38,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{38,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>chess_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,63},{52,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{52,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>chess_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,3},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>chess_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,3},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chess.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d93cd9ecd03630afca99f98a0f30c2ac$</string>
            <key>textureFileName</key>
            <string>chess.png</string>
        </dict>
    </dict>
</plist>
